@media (max-width: 479px)
{
    .cont
    {
        padding-right: 10px;
        padding-left: 10px;
    }


    .main-subtitle
    {
        font-size: 14px;
    }

    .text-block h2
    {
        font-size: 16px;
    }


    .section-form .form__line
    {
        margin-bottom: 10px;
    }

    .form__bottom
    {
        margin-top: -10px;
    }

    .form__bottom .form__agree
    {
        font-size: 12px;
        line-height: 1.2;

        margin-top: 10px;

        text-align: left;
    }

    .form__bottom .form__submit-btn._small
    {
        width: 100%;
        padding: 0;
    }


    .btn-bord
    {
        font-size: 14px;

        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }


    .first-section__title
    {
        font-size: 40px;
    }

    .main-news__items
    {
        padding: 15px 11px;
    }

    .main-news__link
    {
        padding: 14px 19px;
    }

    .main-news__link a
    {
        display: block;

        text-align: center;
    }


    .partner-program
    {
        padding-top: 44px;

        border-radius: 0 30px 30px 0;
    }

    .partner-program__logo
    {
        width: 99px;
    }

    .partner-program .cont
    {
        padding-right: 20px;
        padding-left: 20px;
    }

    .partner-program__subtitle
    {
        font-size: 15px;

        margin-top: 16px;
    }

    .partner-program__text
    {
        margin-top: 14px;
    }

    .partner-program__btn
    {
        margin-top: 20px;
    }

    .partner-program__bot
    {
        margin-top: 30px;
    }

    .partner-program__link
    {
        margin-top: 15px;
    }

    .partner-program__planet
    {
        width: calc(100% + 70px);
        margin: 26px -50px 0 -20px;
    }


    .specialization__items
    {
        margin-top: 8px;
    }

    .specialization__item
    {
        min-height: 267px;
        margin-top: 12px;
        padding: 97px 19px 19px 19px;
    }

    .specialization__name
    {
        font-size: 14px;
    }

    .specialization__desc
    {
        margin-top: 8px;
    }


    .page-lk__user-photo
    {
        width: 90px;
        height: 90px;
        margin-right: 14px;
    }

    .page-lk__user-box
    {
        padding-bottom: 60px;
    }

    .page-lk__user-name
    {
        font-size: 16px;
    }

    .page-lk__top-btn
    {
        width: calc(100% - 104px);
    }

    .page-lk__top-btn
    {
        margin-top: -40px;
    }

    .page-lk__top-btn .btn-black
    {
        font-size: 12px;
        line-height: 40px;

        padding: 0 22px;
    }


    .catalog
    {
        margin-top: 20px;
    }

    .search
    {
        padding-bottom: 30px;
    }

    .search .search__input
    {
        font-size: 14px;

        height: 50px;
    }

    .products__table thead
    {
        display: none;
    }

    .products__table tbody tr
    {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        padding-bottom: 30px;
    }

    .products__table tbody td
    {
        display: block;
    }

    .products__table td
    {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 18px;
    }

    .products__table-name
    {
        width: calc(100% - 86px);
    }

    .products__table .products__table-name
    {
        padding-top: 0;
        padding-left: 30px;
    }

    .products__table .products__table-amount
    {
        width: calc(100% - 86px);
        margin-left: auto;
        padding-top: 14px;
        padding-left: 30px;
    }

    .products__scroll-content
    {
        padding-bottom: 0;
    }

    .amount__val
    {
        width: 134px;
        margin-left: 0;
        padding: 0 12px;
    }


    .stocks_marg
    {
        margin-top: 10px;
    }

    .stocks__grid
    {
        margin-left: 0;
    }

    .stocks__grid .stock-item
    {
        width: 100%;
        margin-left: 0;
    }

    .stock-item__box
    {
        padding: 20px 19px 29px 19px;
    }

    .stock-item__desc
    {
        margin-top: 10px;
    }


    .page-links__link
    {
        font-size: 14px;

        min-height: 200px;
        padding: 19px 19px 75px;

        border-radius: 16px;
    }

    .page-links__link-name
    {
        margin-top: 16px;
    }

    .page-links__link-arrow
    {
        bottom: 19px;
        left: 19px;

        width: 40px;
        height: 40px;
    }

    .page-links__link-next .page-links__link-arrow
    {
        right: 19px;
    }

    .page-links__link-arrow svg
    {
        width: 20px;
        height: 13px;
    }


    .page-news__date
    {
        font-size: 14px;
    }

    .page-news__view
    {
        font-size: 14px;
    }

    .page-news__time
    {
        font-size: 14px;
    }


    .contacts__btn .btn-black
    {
        width: 100%;
        padding: 0;
    }


    .section-news__grid
    {
        margin-left: 0;
    }

    .section-news__grid .news-item
    {
        width: 100%;
        margin-left: 0;
    }

    .news-item__box
    {
        padding: 20px 19px 20px 19px;
    }


    .top-news__grid
    {
        padding-top: 29px;
    }

    .top-news__big
    {
        border-radius: 16px;
    }

    .top-news__big-img
    {
        min-height: 218px;
    }

    .top-news__big-name
    {
        font-size: 12px;
    }

    .top-news__item
    {
        flex-wrap: nowrap;

        width: 100%;
    }

    .top-news__item-coll
    {
        width: 35.3%;
        margin-right: 18px;
    }

    .top-news__item-img
    {
        padding-bottom: 100%;

        border-radius: 16px;
    }

    .top-news__item-date
    {
        font-size: 14px;

        margin-top: 10px;
    }

    .top-news__item-colr
    {
        margin-top: 0;
    }


    .sorting__links
    {
        padding: 15px 0;
    }

    .sorting__links-wrap
    {
        width: calc(100% + 20px);
        margin-right: -10px;
        margin-left: -10px;
        padding: 0 10px 0 0;
    }

    .sorting__link
    {
        line-height: 35px;
    }


    .awards__slider .swiper-slide
    {
        width: 237px;
    }


    .video-banner__img
    {
        object-position: 10% 0;
    }

    .video-banner::after
    {
        width: 50px;
        height: 50px;
        margin: -25px 0 0 -25px;
    }


    .about-info__text-block
    {
        font-size: 14px;

        margin-top: 20px;
    }

    .about-top__colr img
    {
        min-height: 280px;
    }


    .slider-button-prev,
    .slider-button-next
    {
        width: 40px;
        height: 40px;
    }

    .slider-button-prev svg,
    .slider-button-next svg
    {
        width: 22px;
        height: 14px;
    }

    .slider-button-prev
    {
        right: 46px;
    }


    .history__wrap
    {
        margin-top: 16px;
    }

    .history__wrap .slider-button-prev,
    .history__wrap .slider-button-next
    {
        top: 0;
    }

    .history__center
    {
        padding-right: 100px;
        padding-bottom: 20px;
    }

    .history__number
    {
        margin-right: 17px;
    }

    .history__number span
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 40px;

        display: block;

        width: 40px;
        height: 40px;
    }

    .history__date
    {
        font-size: 18px;
        line-height: 40px;
    }

    .history__img
    {
        margin-top: 10px;
    }

    .history__list
    {
        margin: -1px 0 0 -6px;
    }

    .history__list-item
    {
        font-size: 12px;

        min-height: 26px;
        margin: 6px 0 0 6px;
        padding: 6px 15px;
    }


    .advantages__bg
    {
        padding: 20px;
    }


    .vacancy__items
    {
        margin-top: 6px;
    }

    .vacancy__item
    {
        min-height: 196px;
        margin-top: 10px;
    }

    .vacancy__bot
    {
        margin-top: 20px;
    }

    .vacancy__desc
    {
        margin-top: 8px;
    }


    .info-vacancy__items
    {
        margin-top: -10px;
    }

    .info-vacancy__item
    {
        margin-top: 10px;
    }

    .info-vacancy__colr
    {
        margin-top: 10px;
    }


    .footer__items
    {
        display: block;

        min-width: 59%;
    }

    .footer__items-item + .footer__items-item
    {
        margin: 40px 0 0;
    }

    .form-subscribe__title
    {
        font-size: 14px;
        line-height: 1.3;
    }

    .form-subscribe__subtitle
    {
        font-size: 14px;
        line-height: 1.3;

        margin-top: 10px;
    }

    .form-subscribe__submit
    {
        width: 40px;
        height: 40px;
        margin-left: -46px;
    }

    .form-subscribe__agree
    {
        margin-top: 16px;
    }

    .footer__creator
    {
        width: 100%;
        margin-top: 30px;
    }
}