@media (max-width: 1199px)
{
    ._marg
    {
        margin-top: 100px;
    }


    .text-block h1,
    .text-block .title
    {
        font-size: 32px;
        font-weight: 700;

        letter-spacing: 1.28px;
    }


    .header
    {
        padding-top: 30px;
    }

    .header__block
    {
        margin-left: auto;
    }

    .header__menu-btn
    {
        min-width: 110px;
    }



    .first-section::before
    {
        border-radius: 0 0 90px 90px;
    }

    .first-section__title
    {
        font-size: 80px;

        width: 630px;
    }

    .first-section__subtitle
    {
        margin-top: -70px;
    }

    .first-section__banner img
    {
        border-radius: 30px;
    }


    .main-about__colr
    {
        width: 100%;
        max-width: none;
    }

    .main-about__number
    {
        margin-top: -7px;
    }

    .main-about h3
    {
        max-width: none;
    }

    .main-about__coll
    {
        order: 2;

        width: 100%;
        max-width: none;
        margin-top: 32px;
    }


    .brands__slider
    {
        overflow: visible;
    }

    .brands__slider .swiper-wrapper
    {
        justify-content: flex-start;

        width: 100%;
    }

    .brands__brand
    {
        height: 60px;
    }


    .main-news__cols
    {
        margin: -20px 0 0;
    }

    .main-news__bord
    {
        overflow: visible;

        border: none;
        border-radius: 0;
    }

    .main-news__title
    {
        font-weight: 700;
    }

    .main-news__col
    {
        width: 100%;
        margin: 40px 0 0;
    }

    .main-news__col-bord
    {
        border-radius: 0 0 20px 20px;
    }

    .main-news__items
    {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .main-news__item
    {
        width: calc(100%/2 - 10px);
    }

    .main-news__item + .main-news__item
    {
        margin-top: 24px;
    }

    .main-news__item:nth-child(2)
    {
        margin-top: 0;
    }


    .partner-program
    {
        border-radius: 0 50px 50px 0;
    }

    .partner-program__box
    {
        min-height: 540px;
    }

    .partner-program__box_small
    {
        min-height: 1px;
    }

    .partner-program__planet
    {
        max-width: 65%;
    }


    .partners__slider
    {
        overflow: visible;
    }

    .partners__slider .swiper-wrapper
    {
        justify-content: flex-start;

        width: 100%;
    }

    .partners__partner
    {
        height: 46px;
    }


    .our-project__flex
    {
        flex-wrap: wrap;
    }

    .our-project__coll
    {
        order: 2;

        width: calc(100% + 10px);
        max-width: none;
        margin-top: 60px;
        padding-bottom: 0;
    }

    .our-project__coll-title br
    {
        display: none;
    }

    .our-project__img
    {
        width: calc(100% - 282px);
        max-width: none;
    }


    .main-contacts__coll
    {
        width: 40%;
    }

    .main-contacts__map
    {
        width: calc(60% - 30px);
    }


    .search
    {
        padding-right: 40px;
    }

    .products__scroll
    {
        padding-right: 40px;
    }


    .sorting__link
    {
        font-size: 14px;
        line-height: 38px;
    }


    .awards__slider .swiper-overflow
    {
        overflow: visible;
    }

    .achievements__grid
    {
        margin: 0 0 0 -20px;
    }

    .achievements__item
    {
        width: calc(100%/2 - 20px);
        margin: 20px 0 0 20px;
        padding-left: 19px;
    }

    .achievements__name
    {
        font-size: 14px;
    }

    .achievements__name b
    {
        font-size: 24px;
    }


    .history__img
    {
        padding-right: 15px;
        padding-left: 15px;
    }

    .history__number
    {
        margin-right: 12px;
    }

    .history__date
    {
        font-size: 16px;
    }

    .history__list
    {
        margin: -4px 0 0 -10px;
    }

    .history__list-item
    {
        font-size: 14px;

        min-height: 44px;
        margin: 10px 0 0 10px;
        padding: 12px 15px;
    }


    .advantages__bg
    {
        padding-right: 28px;
        padding-left: 28px;
    }

    .advantages__number
    {
        font-size: 42px;
    }

    .advantages__desc
    {
        font-size: 16px;
    }


    .vacancy__item
    {
        padding: 19px;
    }

    .vacancy__name
    {
        font-size: 16px;
    }

    .vacancy__desc
    {
        font-size: 16px;
    }


    .info-vacancy__item
    {
        min-height: 232px;
        padding: 19px;
    }

    .info-vacancy__icon
    {
        width: 60px;
        height: 60px;
        padding: 13px;
    }

    .info-vacancy__icon::before
    {
        width: 79px;

        background-size: auto 100%;
    }

    .info-vacancy__name
    {
        font-size: 14px;
    }

    .info-vacancy__desc
    {
        font-size: 14px;

        margin-top: 8px;
    }


    .partners-inner__partner
    {
        min-height: 120px;
        padding: 15px;
    }


    .brands__item
    {
        font-size: 18px;

        min-height: 120px;
    }


    .advantages-brand__bg
    {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .advantages-brand__item-number
    {
        font-size: 40px;
    }

    .advantages-brand__item-desc
    {
        font-size: 14px;

        margin-top: 3px;
    }


    .utilization__info
    {
        left: 20px;

        width: 340px;
    }


    .footer__items-item + .footer__items-item
    {
        margin-left: 40px;
    }

    .form-subscribe
    {
        width: 440px;
        padding-right: 24px;
        padding-left: 24px;
    }

    .footer__bot
    {
        margin-top: 60px;
    }
}