@media (max-width: 767px)
{
    body
    {
        font-size: 14px;
        line-height: 1.3;
    }


    .cont
    {
        padding-right: 20px;
        padding-left: 20px;
    }


    ._marg
    {
        margin-top: 60px;
    }


    .text-block h1,
    .text-block .title
    {
        font-size: 24px;
        line-height: 1.2;

        letter-spacing: .48px;
    }

    .text-block h3
    {
        font-size: 16px;

        margin-bottom: 14px;
    }

    .text-block p
    {
        margin-bottom: 20px;
    }

    .page-news__text-block img
    {
        min-height: 300px;

        object-fit: cover;
    }


    .form__subtitle
    {
        font-size: 14px;

        margin-bottom: 20px;
    }

    .form__flex .form__line
    {
        width: 100%;
    }

    .section-form .form__flex .form__line
    {
        width: 100%;
    }


    .header
    {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .header__block
    {
        padding-right: 20px;
        padding-left: 20px;
    }

    .header__bg
    {
        padding: 56px 30px;
    }

    .header__menu
    {
        margin-top: 30px;
        padding-top: 30px;
    }

    .header__menu-item + .header__menu-item
    {
        margin: 16px 0 0;
    }

    .header__menu-btn
    {
        font-size: 24px;
    }

    .heade__contacts
    {
        margin-top: 30px;
        padding-top: 30px;
    }

    .heade__contacts-title
    {
        font-size: 14px;
    }

    .heade__contacts-phone
    {
        font-size: 24px;
        line-height: 1.3;

        margin-top: 10px;
    }

    .heade__contacts-item + .heade__contacts-item
    {
        margin-top: 20px;
    }


    .first-section
    {
        padding-top: 30px;
    }

    .first-section__top-flex
    {
        flex-wrap: wrap;
    }

    .first-section__title
    {
        width: 100%;
        margin: 0;
    }

    .first-section__top-flex::after
    {
        height: 6px;
        margin-top: 10px;
    }

    .first-section__subtitle
    {
        font-size: 16px;

        width: 100%;
        margin-top: 20px;
    }

    .first-section__banner
    {
        margin-top: 27px;
    }

    .first-section__banner img
    {
        border-radius: 16px;
    }

    .first-section::before
    {
        border-radius: 0 0 30px 30px;
    }


    .brands__slider
    {
        margin-top: 20px;
    }

    .brands__brand
    {
        height: 42px;
    }


    .main-about__items
    {
        margin-top: -10px;
    }

    .main-about__item
    {
        width: 100%;
        margin-top: 10px;
        padding-top: 19px;
    }

    .main-about__number
    {
        margin-top: 10px;
    }

    .main-about__coll
    {
        margin-top: 20px;
    }


    .main-news__cols
    {
        margin-top: 0;
    }

    .main-news__col
    {
        margin-top: 20px;
    }

    .main-news__title
    {
        padding: 8px 15px 8px;
    }

    .main-news__item
    {
        width: 100%;
    }

    .main-news__item + .main-news__item
    {
        margin-top: 16px;
    }

    .main-news__item:nth-child(2)
    {
        margin-top: 16px;
    }

    .main-news__item:nth-child(n + 4)
    {
        display: none;
    }


    .partners__partner
    {
        height: 26px;
    }


    .specialization__item
    {
        padding-left: 29px;
    }


    .our-project
    {
        padding: 30px 0 57px;
    }

    .our-project__colr
    {
        flex-wrap: wrap;
    }

    .our-project__img-wrap
    {
        padding-bottom: 66%;
    }

    .our-project__img img
    {
        border-radius: 16px;
    }

    .our-project__links
    {
        flex-wrap: wrap;

        width: 100%;
    }

    .our-project__link
    {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;

        width: 100%;
        margin: 4px 0 0;
        padding: 14px 15px 13px;

        text-align: center;

        border-radius: 16px;
    }

    .our-project__link span
    {
        position: relative;
        bottom: 0;
        left: 0;

        display: block;

        width: auto;
        height: auto;
        margin-left: 0;

        transform: rotate(0);
    }

    .our-project__coll
    {
        margin-top: 40px;
    }

    .our-project__title
    {
        margin-top: 10px;
    }

    .our-project__desc
    {
        margin-top: 10px;
    }

    .our-project__coll-bot
    {
        margin-top: 40px;
    }

    .our-project__btn
    {
        margin-top: 20px;
    }

    .our-project__logo
    {
        bottom: 6px;

        max-height: calc(100% - 12px);
    }


    .main-contacts__map
    {
        height: 330px;

        border-radius: 16px;
    }

    .main-contacts__coll
    {
        margin-top: 60px;
    }

    .main-contacts__top
    {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .main-contacts__top .main-subtitle
    {
        margin-top: 0;
        margin-left: 19px;
    }

    .main-subtitle br
    {
        display: none;
    }

    .main-contacts__items
    {
        margin-top: -10px;
    }

    .main-contacts__item
    {
        margin-top: 30px;
    }

    .main-contacts__phone
    {
        font-size: 28px;

        margin-top: 10px;
    }

    .main-contacts__phone a
    {
        padding-left: 32px;
    }


    .page-lk__user-photo
    {
        width: 120px;
        height: 120px;
        margin-right: 20px;
    }

    .page-lk__user-name
    {
        font-size: 20px;
    }

    .page-lk__user-logout
    {
        margin-top: 19px;
    }

    .page-lk__top-btn
    {
        width: calc(100% - 140px);
    }

    .info-password
    {
        min-height: 1px;
        margin-top: -10px;
    }

    .info-password br
    {
        display: none;
    }

    .form__bot
    {
        margin-top: 10px;
    }

    .form__bot .form__submit
    {
        order: 2;

        width: 100%;
        margin-top: 13px;
    }

    .form__bot .form__cancel
    {
        width: 100%;
    }


    .page-heade
    {
        margin-top: 20px;
    }

    .breadcrumbs
    {
        font-size: 12px;

        margin-bottom: 13px;
    }


    .page-lk
    {
        margin-top: 20px;
    }

    .page-lk__top
    {
        padding-bottom: 29px;
    }

    .form_lk
    {
        margin-top: 40px;
    }


    .form__sector + .form__sector
    {
        margin-top: 20px;
        padding-top: 40px;
    }


    .products__table th
    {
        font-size: 14px;
    }

    .products__table td
    {
        font-size: 14px;

        padding-left: 16px;
    }

    .products__table .products__table-name
    {
        padding-left: 16px;
    }

    .products__table-thumb
    {
        width: 60px;
    }

    .products__table .products__table-amount
    {
        width: 108px;
    }


    .banner__img
    {
        border-radius: 16px;
    }

    .stocks__grid
    {
        margin-left: -10px;
    }

    .stocks__grid .stock-item
    {
        width: calc(100%/2 - 10px);
        margin-left: 10px;
    }

    .stock-item__box
    {
        padding-right: 9px;
        padding-left: 9px;
    }

    .wrap-btn
    {
        margin-top: 20px;
    }

    .pagination
    {
        margin-top: 10px;
    }


    .page-news__text-block
    {
        margin-top: 20px;
    }

    .page-news__info
    {
        margin-bottom: 10px;
    }

    .page-news__link
    {
        margin-top: 20px;
    }


    .contacts
    {
        margin-top: 20px;
    }

    .contacts__sector
    {
        padding-top: 30px;
    }

    .contacts__sector + .contacts__sector
    {
        margin-top: 40px;
    }

    .contacts__map
    {
        height: 240px;
    }

    .contacts__flex
    {
        margin-top: 13px;
        padding-top: 27px;
    }

    .contacts__col
    {
        width: 100%;
        min-height: 1px;
        padding-bottom: 0;
    }

    .contacts__col + .contacts__col
    {
        margin-top: 20px;
    }

    .contacts__links
    {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;

        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .contacts__links-link
    {
        width: 40px;
        height: 40px;
        padding: 7px;
    }

    .contacts__links-link + .contacts__links-link
    {
        margin: 0 0 0 10px;
    }

    .contacts__col-box
    {
        max-width: none;
    }

    .contacts__adres
    {
        margin-top: 14px;
    }

    .contacts__time
    {
        margin-top: 14px;
    }

    .contacts__time + .contacts__time
    {
        margin-top: 14px;
    }


    .footer
    {
        padding: 40px 0 53px;
    }

    .footer__items
    {
        margin-left: auto;
    }

    .footer__items-item + .footer__items-item
    {
        margin-left: 30px;
    }

    .footer__menu-item
    {
        font-size: 16px;
    }

    .form-subscribe
    {
        margin-top: 40px;
        padding: 40px 0 0;

        border: none;
        border-top: 1px solid #FFF;
        border-radius: 0;
    }

    .footer__bot
    {
        margin-top: 40px;
    }
}